/* Bg Header */

@media (max-width: 768px) {
    .header {
        background-image: linear-gradient(#0006, #0006), url("../resources/bg_small.jpg");
    }
}

@media screen and (max-width: 420px) {
    
    .navbar .nav_menu {
        gap: 10px;
    }

    .nav_menu a:before {
        display: none;
    }

    .title_start {
        height: 100%;
    }

    .footer svg {
        display: none;
    }

    h1 {
        font-size: 2.7rem;
    }

    .title_start img {
        width: 200px;
        height: 200px;
    }

    .social_networks .title {
        font-size: 2.3rem;
    }
}

@media (min-width: 769px) {
    .header {
        background-image: linear-gradient(#0006, #0006), url("../resources/bg_medium.jpg");
    }

    .sub_header {
        width: 100%;
        flex-direction: row;
        padding: 10px 60px;
        justify-content: space-between;
    }

    .navbar {
        width: auto;
    }

    .navbar .nav_menu {
        background-color: transparent;
    }

    .nav_menu a:last-child::before {
        content: '';
        width: 0;
        height: 0;
    }

    .title_start {
        height: 100%;
        padding: 0px 40px;
        gap: 10px;
    }

    h1 {
        font-size: 3.7rem;
    }

    .title_start img {
        width: 500px;
        height: 500px;
    }
}
